//
   Created by kimduk on 05.06.14.

.container
    h1 {{article.title}}
    .row
        .col-md-6
            h3(ng-show="article.featured") Featured
            h3 Published on {{article.published | date}}

        .col-md-6
            .panel.panel-primary
                .panel-heading Tags
                .panel-body
                    div(ng-repeat="tag in article.tags") {{tag}}