body
  padding-top 69px
.navbar.navbar-inverse.navbar-fixed-top .container
  margin-top 10px
.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px

  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px dotted #262626

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #46b8da