//
   Created by kimduk on 27.05.14.

.navbar-right(ng-controller="naNavBarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        ul.nav.navbar-nav
            li
                a(href="/signup") Sign up
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
        button.btn.btn-primary(ng-click="signIn(username, password)") Sign In
    ul.nav.navbr-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users/") User Admin
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="signOut()") Sign Out
