//
   Created by kimduk on 03.06.14.

.container
    .well
        form.form-horizontal(name="signUpForm")
            filedset
                legend New User Information
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
                .form-group
                    label.col-md-2.control-label(for="email") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required)
                .form-group
                    label.col-md-2.control-label(for="fname") First Name
                    .col-md-10
                        input.form-control(name="fname", type="text", placeholder="First Name", ng-model="fname", required)
                .form-group
                    label.col-md-2.control-label(for="lname") Last Name
                    .col-md-10
                        input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="signup()", ng-disabled="signUpForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel
