doctype html
html
    head
        title NodeAngular
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts