script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/naMainCtrl.js")
script(type="text/javascript", src="/app/account/naNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/naIdentity.js")
script(type="text/javascript", src="/app/account/naAuth.js")
script(type="text/javascript", src="/app/account/naUser.js")
script(type="text/javascript", src="/app/account/naSignupCtrl.js")
script(type="text/javascript", src="/app/account/naProfileCtrl.js")
script(type="text/javascript", src="/app/common/naNotifier.js")
script(type="text/javascript", src="/app/admin/naUserListCtrl.js")
script(type="text/javascript", src="/app/articles/naArticleListCtrl.js")
script(type="text/javascript", src="/app/articles/naArticles.js")
script(type="text/javascript", src="/app/articles/naCachedArticles.js")
script(type="text/javascript", src="/app/articles/naArticleDetailCtrl.js")