.panel.panel-primary
    .panel-heading.text-center Left Block
    .panel-body
        .row(ng-repeat="article in articles| filter:{featured:true}")
            .col-md-12
                a(href="/articles/{{article._id}}") {{article.title}}