.container
    .jumbotron
        h1 NodeAngular
        p Welcome to NodeAngular web app, building for test
    .row
        .col-md-6
            div(ng-include="'/partials/main/left-block'")
        .col-md-6
            div(ng-include="'/partials/main/right-block'")