.panel.panel-primary
    .panel-heading.text-center Right Block
    .panel-body
        .row(ng-repeat="article in articles | orderBy:'published':true | limitTo:10")
            .col-md-3 {{article.published | date:'MMM d'}}
            .col-md-9
                a(href="/articles/{{article._id}}") {{article.title}}